body {
    background: #98989a;
    color: #1d2d3a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    line-height: 20px;
}

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 16px 8px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #c09853;
}